:root {
  background-color: #000000;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nameBox {
  box-shadow: 0 0 0 1px rgb(42, 41, 41);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 16 / 7;
  width: min(80vw, 800px);

  max-width: 90%;
  padding: 3vh 3vw;

  text-align: center;
  font-family: 'Inter', sans-serif;

  margin-bottom: 7vh;
}


.about-container,
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  aspect-ratio: 16 / 7;
  width: min(80vw, 800px);
  /* Match the width of .box */
  max-width: 90%;
  box-sizing: border-box;
}

.projects-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-box,
.projects-box {
  margin-bottom: 6vh;
}


.experience-header,
.projects-header {
  color: rgb(237, 237, 237);
  font-size: clamp(1rem, 3.5vw, 1.8rem);
  font-weight: 400;
  letter-spacing: -0.08em;
  word-spacing: 0.1em;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1.5vh;
}

.song-intro {
  color: rgb(237, 237, 237);
  font-size: clamp(1rem, 3.5vw, 1.8rem);
  font-weight: 400;
  letter-spacing: -0.08em;
  word-spacing: 0.1em;
  font-family: 'Inter', sans-serif;
  margin-bottom: -1vh;
}

.song-justification {
  color: rgb(161, 161, 170);
  font-size: min(1.05rem, 8vw);
  font-weight: 200;
  letter-spacing: -0.02em;
  padding-bottom: 0.7vh;
}

.spotify-page {
  padding-bottom: 10vh;
}




@media (max-width: 600px) {
  .nameBox {
    width: 85vw;
    /* Slightly wider for mobile */
    max-width: 450px;
    /* Prevents it from being too large */
    padding: 0vh 6vw;
    /* Less padding for better visibility */
    aspect-ratio: 4 / 3;
    /* More squared for better readability */
  }

  .name-title {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    /* Scales smaller */
  }

  .name-description {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    /* Readable on mobile */
    max-width: 30ch;
    /* Prevents text from stretching */
  }

  .navbar {
    /* gap: 2vw; More space between elements */
    padding: 1vh 3vw;
  }

  .name-logo {
    font-size: 0.6rem;
    /* Reduce logo size */
  }

  .about-button,
  .projects-button {
    font-size: 0.7rem;
    /* Shrink text */
    padding: 1px 2px;
    /* Reduce padding */
  }
}